.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  width: 400px;
  margin-top: 40px;
  display: flex;
}

.add-todo-item {
  margin-left: 10px;
}

.list-container {
  width: 400px;
  margin-top: 40px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.button-container {
  display: flex;
}

.edit-buttons-container {
  margin-left: 10px;
}

.list-item input {
  margin-right: 10px;
}
